@charset "UTF-8";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .content {
    flex: 1;
  }
  .sidebar-left {
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: #134b5f; /* Azul escuro */
    color: white; /* Texto branco */
  }
  .sidebar-right {
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: #f8f9fa; /* Mantém o fundo claro */
  }
  .main-content {
    padding: 20px;
    background-color: #d0e7ff; /* Azul claro */
  }
  .nav-link {
    color: white; /* Links em branco */
  }
  .nav-link:hover {
    color: #cccccc; /* Cor ao passar o mouse */
  }
  .home-btn {
    margin-top: 20px;
  }
  code {
  
  color: #ffffff;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 90%;
}

/* Estilo para blocos de código */
pre {
  background-color: #282c34;
 
  padding: 10px;
  border-radius: 6px;
  overflow-x: auto;
}
pre code {
  color: #ffffff; /* cor do texto */
}